<!-- wp:template-part {"slug":"header","tagName":"header"} /-->
<!-- wp:group {"tagName":"main","className":"gusy-system-main gusy-system-page","layout":{"type":"constrained"}} -->
<main class="wp-block-group gusy-system-main gusy-system-page">
	<!-- wp:group {"className":"gusy-system-article-head","layout":{"type":"constrained"}} -->
	<div class="wp-block-group gusy-system-article-head">
		<!-- wp:post-title {"level":1,"className":"gusy-system-title"} /-->
	</div>
	<!-- /wp:group -->
	<!-- wp:post-featured-image {"aspectRatio":"16/9","className":"gusy-system-featured"} /-->
	<!-- wp:post-content {"className":"gusy-system-content","layout":{"type":"constrained"}} /-->
</main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
